**Problem:**

You are given the following dataset:
1. **Audible Data** : https://1drv.ms/u/s!AiqdXCxPTydhoog8ckLN-6Cw55fzIg?e=EWgZ5d

Your task is to:
- Find the problems with the datasets.
- Define the Data Quality Dimensions.
- Try to clean the datasets.

## Problem with the data set:

- `name`:
    -  Some books has the version in different formats.
        - with hash-tag like Geronimo Stilton #11 & #12.
        - "Magic Tree House Collection: Books 9-16".
        - "The 39 Clues, Book 6"
    - â€™, Ã¤, Ã¼ values 
        - Some rows (9, 34, 157, 162, 170...) have this strange part.

- `author` & `narrator`:
    -  Every value starts with "Writtenby:" e.g., "Writtenby:GeronimoStilton"
    -  Some values represent 2 or more authors, e.g., "Writtenby:JuliaDonaldson,AxelScheffler"
    -  Some values also have the strange part, e.g., "Writtenby:FranciscoDÃ­azValladares"
    -  First name and the last are not separated with a white space, e.g. "Writtenby:NicolasGorny".
    -  Some additional informations are also inclused in some values. E.g.,     "Writtenby:AndrewPeterson-editor,JonathanRogers,N.D.Wilson,"
    -  There are no proper names in narrator, e.g., "Narratedby:uncredited".



- `time`:
    -  The values are combination of total hour and minutes, e.g., "2 hrs and 20 mins", "10 hrs", "22 mins"


- `releasedate`:
    - There are 2 types entries, "08-04-2008" and "13-01-10"
    - The dtype is object, if we convert to datetime object, then the above will be resolved.


- `language`
    -  Some values are in title formed and some are in lower case, e.g. "English" and "german".


- `stars`
    -  Total ratings informations are included along with average stars, e.g. "5 out of 5 stars34 ratings"
    -  The highest rating is 5 and lower is 1. How many avg. stargs got a book is included as long form.
    -  Some empty values are represented as "Not rated yet". For that, we can assume total ratings = 0 and avg. ratings = 0.

- `price`
    -  There is a value, "Free". This also change the dtype of the column.

In [42]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv('audible_uncleaned.csv')
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [44]:
audible_df = df.copy()

In [45]:
audible_df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [46]:

audible_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

In [47]:
audible_df['releasedate']

0        04-08-08
1        01-05-18
2        06-11-20
3        05-10-21
4        13-01-10
           ...
87484    09-03-17
87485    21-02-17
87486    30-12-16
87487    23-02-11
87488    07-03-17
Name: releasedate, Length: 87489, dtype: object

In [48]:
# convert the "releasedate" col to datetime object

audible_df['releasedate'] = pd.to_datetime(audible_df['releasedate'])

C:\Users\Dell\AppData\Local\Temp\ipykernel_3900\3716966401.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  audible_df['releasedate'] = pd.to_datetime(audible_df['releasedate'])

In [49]:
# remove the value "free" from the col price. This will automatically
# convert to the float values.

audible_df['price'] = audible_df['price'].replace("Free", 0).str.replace(',','').astype(float)

In [50]:
# now check again the dtypes
audible_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  datetime64[ns]
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87151 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 5.3+ MB

In [51]:

import re

# Define a function to extract ratings
def extract_ratings(stars):
    if "Not rated yet" in stars:
        return 0, 0  # Default values for not rated

    # Extract avg stars and total ratings using regex
    avg_stars_match = re.search(r'(\d+\.?\d*) out of 5 stars', stars)
    total_ratings_match = re.search(r'(\d+) ratings', stars)

    avg_stars = float(avg_stars_match.group(1)) if avg_stars_match else 0
    total_ratings = int(total_ratings_match.group(1)) if total_ratings_match else 0

    return avg_stars, total_ratings

In [52]:
audible_df[["avg_stars", "total_ratings"]] = audible_df["stars"].apply(lambda x: pd.Series(extract_ratings(x)))

In [53]:
audible_df.head(1)

,name,author,narrator,time,releasedate,language,stars,price,avg_stars,total_ratings
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.0,5.0,34.0

In [54]:
audible_df = audible_df.drop(columns= ["stars"])

In [55]:
audible_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           87489 non-null  object
 1   author         87489 non-null  object
 2   narrator       87489 non-null  object
 3   time           87489 non-null  object
 4   releasedate    87489 non-null  datetime64[ns]
 5   language       87489 non-null  object
 6   price          87151 non-null  float64
 7   avg_stars      87489 non-null  float64
 8   total_ratings  87489 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 6.0+ MB

In [56]:
# convert the "language" col to titlecase

audible_df['language'] = audible_df['language'].str.title()

In [57]:
# Function to convert to total minutes
def convert_to_minutes(duration):
    hours_match = re.search(r'(\d+)\s*hrs?', duration)  # Match hours
    mins_match = re.search(r'(\d+)\s*mins?', duration)  # Match minutes

    hours = int(hours_match.group(1)) if hours_match else 0
    minutes = int(mins_match.group(1)) if mins_match else 0

    return hours * 60 + minutes  # Convert hours to minutes and add

In [59]:
# Apply function to column

audible_df["time"] = audible_df["time"].apply(convert_to_minutes)

In [60]:
audible_df.head()

,name,author,narrator,time,releasedate,language,price,avg_stars,total_ratings
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,140,2008-04-08,English,468.0,5.0,34.0
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,788,2018-01-05,English,820.0,4.5,41.0
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,123,2020-06-11,English,410.0,4.5,38.0
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,676,2021-05-10,English,615.0,4.5,12.0
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,600,2010-01-13,English,820.0,4.5,181.0

In [61]:
import re

def clean_names(text):
    if pd.isna(text) or text.strip() in ["Writtenby:", "Narratedby:", ""]:
        return "Unknown"
    
    # Remove "Writtenby:" or "Narratedby:"
    text = re.sub(r'^(Writtenby:|Narratedby:)', '', text).strip()

    # Remove additional info like "-editor"
    text = re.sub(r'-\w+', '', text)

    # Add space between first and last names (handling PascalCase)
    text = re.sub(r'([a-z])([A-Z])', r'\1 \2', text)

    return text if text else "Unknown"  # Ensure no empty strings

In [62]:
# Apply the function to the author and narrator columns
audible_df["author"] = audible_df["author"].apply(clean_names)
audible_df["narrator"] = audible_df["narrator"].apply(clean_names)

In [63]:
audible_df.head()

,name,author,narrator,time,releasedate,language,price,avg_stars,total_ratings
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,140,2008-04-08,English,468.0,5.0,34.0
1,The Burning Maze,Rick Riordan,Robbie Daymond,788,2018-01-05,English,820.0,4.5,41.0
2,The Deep End,Jeff Kinney,Dan Russell,123,2020-06-11,English,410.0,4.5,38.0
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,676,2021-05-10,English,615.0,4.5,12.0
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,600,2010-01-13,English,820.0,4.5,181.0

In [64]:
audible_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           87489 non-null  object
 1   author         87489 non-null  object
 2   narrator       87489 non-null  object
 3   time           87489 non-null  int64
 4   releasedate    87489 non-null  datetime64[ns]
 5   language       87489 non-null  object
 6   price          87151 non-null  float64
 7   avg_stars      87489 non-null  float64
 8   total_ratings  87489 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 6.0+ MB

In [66]:
!pip install ftfy

Collecting ftfy
  Downloading ftfy-6.3.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: wcwidth in d:\anaconda3\lib\site-packages (from ftfy) (0.2.5)
Downloading ftfy-6.3.1-py3-none-any.whl (44 kB)
Installing collected packages: ftfy
Successfully installed ftfy-6.3.1

WARNING: Ignoring invalid distribution ~treamlit (D:\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~treamlit (D:\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~treamlit (D:\anaconda3\Lib\site-packages)

In [70]:
import re
import ftfy  # Fixes encoding issues

def clean_book_name(text):
    if pd.isna(text) or text.strip() == "":
        return "Unknown"

    # Fix encoding issues
    text = ftfy.fix_text(text)

    # Remove versioning details (e.g., #11 & #12, Book 6, Books 9-16)
    text = re.sub(r'(\s*#\d+(&\s*#\d+)*|\s*Book\s*\d+|\s*Books\s*\d+-\d+)', '', text)

    # Remove trailing '&' and ','
    text = re.sub(r'[\s&,]+$', '', text)

    return text.strip()

In [71]:
# Apply function to 'name' column
audible_df["name"] = audible_df["name"].apply(clean_book_name)

In [73]:
audible_df.sample(5)

,name,author,narrator,time,releasedate,language,price,avg_stars,total_ratings
27991,"HBR's 10 Must Reads on Leadership, Vol. 2",Harvard Business Review,"Barry Abrams,Kim Niemi",338,2020-03-24,English,586.0,0.0,0.0
26943,Negative Space,Lilly Dancyger,Lilly Dancyger,388,2021-01-05,English,702.0,0.0,0.0
72741,Bewitching Illusions,Mary Algen Guiang,Jeffrey Fukushima,259,2021-04-14,English,234.0,0.0,0.0
29683,Change Enthusiasm,Cassandra Worthy,Cassandra Worthy,282,2021-03-08,English,586.0,0.0,0.0
70226,Volare fino alle stelle,Susan Elizabeth Phillips,Titti Saraceno,753,2018-08-18,Italian,766.0,0.0,0.0

In [76]:
with pd.ExcelWriter("audible_clean.xlsx") as writer:
    audible_df.to_excel(writer,index=False, sheet_name='audible_cleaned')